<!-- views/form.ejs -->

<form method="POST" action="/new">
  <h4>Add a new post</h4>
  <label for="name">name</label>
  <input type="text" name="name" id="name" />
  <label for="message">Message</label>
  <textarea name="message" id="message"></textarea>
  <button type="submit">Submit</button>
</form>
