<!-- views/message.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h2>Message</h2>
    <h4>Date added: <%= message.added %></h4>
    <h4>Author: <%= message.name %></h4>
    <p><%= message.text %></p>
  </body>
</html>
